.dot {
    height: 2vw;
    width: 2vw;
    background-color: #bbb;
    border-radius: 50%;
    font-size: 1vw;
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
  }
  .arriba {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2.5vw;
    margin: 4vh 0;
    width: 100%;
  }
  
  .abajo {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4vh;
  
    justify-content: center;
  
    align-self: center;
    height: auto;
  }
  .rightContent {
    width: 70%;
    height: 100vh;
  }
  