.dot {
    height: 2vw;
    width: 2vw;
    background-color: #bbb;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
  }
  .arriba {
    display: grid;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
   padding-top: 1rem;
    width: 100%;
  
    
  }
  
  .abajo {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  
    justify-content: center;
  
    align-self: center;
    height: auto;
  }
  .rightContent {
    width: 70%;
    height: auto;
  }
  .wind{
    font-size: 2rem;
    transform: rotate(220deg);
  }
  .progreso{
    width: 10vw ;
    height: 1.5vw;
  }
  .progreso1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    padding-bottom: 1rem;
  
   
    
  }

  .highlights{
    padding-top: 1rem;
 
   
  }
  @media (max-width:590px) {
    .arriba{
      grid-template-columns: repeat(2, 1fr);
      height: 80vh;
    }
    .abajo{
      height: 80vh;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0px;
      
    }
    .wind{
      font-size: 9vw;
    }
    .progreso{
      width: 20vw ;
      height: 2.5vw;
    }
    .progreso1{
      font-size: 5vw;
      padding-bottom: 5vw;
    }
    .dot{
      height: 6vw;
    width: 6vw;
    }
  }
  @media (max-width: 1250px) {
    .arriba{
      grid-template-columns: repeat(3, minmax(7rem, 1fr));
    }
  
  }
  @media (max-width: 724px){
    .arriba{
      grid-template-columns: repeat(2, minmax(7rem, 1fr));
    }
  
  }