.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #100e1c;
  height: 100vh;
  width: 100%;
  display: flex;
  color: white;
  max-width: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  max-height: 100vh;
}

.leftSide {
  width: 30%;
  height: 100vh;
  background: #1d213a;
  text-align: center;
  align-items: flex-end;
}
.leftContent {
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  height: 40%;
}
.fecha {
  font-size: 2vh;
  padding-bottom: 5%;
}
.ciudad1 {
  font-size: 2vh;
}
.clima {
  padding: 10% 0;
  font-size: 5vh;
}

.rightSide {
  background: #100e1c;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 75%;
  margin-bottom: 20vh;
}

.botones {
  display: flex;
  justify-content: right;
  height: 3vh;
  margin-top: 1vw;
}
.encabezado {
  margin-top: 2vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
}
.contenido {
  height: 45%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
}
.medida {
  font-size: 75%;
  margin-left: 5px;
  width: auto;
  height: auto;
}
.cuadro1 {
  background: #1d213a;
  height: auto;
  width: auto;
  max-height: 11vw;
}
.cuadro2 {
  background: #1d213a;
  width: 8vw;
  height: auto;
}
.encabezadoA {
  text-align: center;
  margin-top: 1vw;
  font-size: 1vw;
}
.contenidoA {
  text-align: center;
  font-size: 0.9vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0vw 1vw;
  margin-bottom: 1vw;
}
.image {
  height: auto;
  width: 8vw;
}

.sidenav {
  height: 100%;
  width: 0;
  display: flex;
  position: fixed;
  justify-content: center;
  z-index: 1;
  top: 0;
  left: 0;
  background: #1d213a;
  overflow-x: hidden;
  transition: 0.8s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.closebtn {
  font-size: 36px;

  cursor: pointer;
}
.botonesIzquierda {
  display: flex;

  justify-content: space-between;
  height: 8%;
  margin: 0 3vw;
  margin-top: 1vw;
}
.temp {
  justify-content: center;
}
.imageleft {
  height: 50%;

  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  overflow: hidden;
  width: 100%;
}

.ciudad {
  border: 2px solid #1d213a;
  display: flex;
  height: 9vh;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 1vw;
  margin-bottom: 1vw;
  align-items: center;
}

.ciudad:hover {
  border: 2px solid rgb(107, 101, 101);
}
.ciudad p {
  font-size: 1.5vw;
  margin: 1.5vw;
}
.busqueda {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3vw;
}
.searchInput {
  width: 70%;
  margin-right: 5%;
  height: 6vh;
  background: none;
  border: 1px solid rgb(107, 101, 101);
  font-size: 1.3vw;
}
.busqueda button {
  width: 25%;
  font-size: 5vw;
}

.sideContent {
  width: 80%;
  margin-top: 1vw;
  align-items: flex-start;
  display: block;
  height: 80vh;
}
button {
  cursor: pointer;
}

.nube {
  font-size: 7vw;
  height: 6vw;
  width: 6vw;

  color: white;
  animation-name: movimiento;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes movimiento {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(-120%);
  }
}
.nube2 {
  font-size: 7vw;
  height: 6vw;
  width: 6vw;
  color: white;
  animation-name: movimiento2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  height: 10vw;
}
@keyframes movimiento2 {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(500%);
  }
}
